<nav class="navbar" id="siteNav">
  <div class="navbar-inner">
    <a href="index.html" class="logo-wrap">
      <img src="assets/IG Only Logo.png" alt="Insight Grid Logo" />
    </a>

    <div class="nav-center desktop-only">
      <ul class="nav-list" id="desktopNavList"></ul>
    </div>

    <div class="nav-right">
      <div class="nav-actions desktop-only" style="display: flex; gap: 0.6rem">
        <!-- <a href="#" class="btn btn-ghost">Log in</a> -->
        <a
          href="contact-us.html"
          class="primary_small_button"
          id="bg_gradient_move"
          >Request Quote</a
        >
      </div>

      <button
        class="hamburger mobile-only"
        id="hamburgerBtn"
        aria-label="Toggle menu"
        aria-expanded="false"
      >
        <span class="bar bar1"></span>
        <span class="bar bar2"></span>
        <span class="bar bar3"></span>
      </button>
    </div>
  </div>
</nav>

<div class="mobile-overlay mobile-only" id="mobileOverlay">
  <div class="mobile-overlay-inner">
    <ul class="m-list" id="mobileNavList"></ul>
    <div class="mobile-actions">
      <a href="#" class="btn btn-ghost">Log in</a>
      <a href="#" class="btn btn-solid">Sign up free</a>
    </div>
  </div>
</div>
